@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLearn";
}

<h1 id="judul">Judul</h1>
<div id="container">
    <section id="a">
        <p class="p1">paragraf 1</p>
        <p class="p2">paragraf 2</p>
        <a href="#">this is a link</a>
        <ul id="b">
            <li id="a">list 1</li>
            <li id="a">list 2</li>
            <li id="a">list 3</li>
        </ul>
    </section>
    <section id="b">
        <p id="a">paragraf 3</p>
        <div id="a">
            <p>this is a paragraph</p>
        </div>
        <ul>
            <li>list 1</li>
            <li>list 2</li>
            <li>list 3</li>
            <li>list 4</li>
            <li>list 5</li>
        </ul>
    </section>

</div>
