@{
   ViewData["Title"] = "DataTables";
   Layout = "_LayoutBootGrid";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">

            <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
       
    </div>
</div>
<br />


<script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [1, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>


