@{
   ViewData["Title"] = "Home Page";
   Layout = "_LayoutBootGrid";
}

<div class="container mt-5">
  <p class="font-weight-bold text-center">Grid System</p>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-12">
      col-sm-12
    </div>
  </div>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-6">
      col-sm-6
    </div>
    <div class="border border-light bg-danger text-light text-center bg-info py-2 col-sm-6">
      col-sm-6
    </div>
  </div>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-4">
      col-sm-4
    </div>
    <div class="border border-light bg-danger text-light bg-info text-center py-2 col-sm-4">
      col-sm-4
    </div>
    <div class="border border-light bg-danger text-light bg-info text-center py-2 col-sm-4">
      col-sm-4
    </div>
  </div>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-3">
      col-sm-3
    </div>
    <div class="border border-light bg-danger text-light bg-info text-center py-2 col-sm-3">
      col-sm-3
    </div>
    <div class="border border-light bg-danger text-light bg-info text-center py-2 col-sm-3">
      col-sm-3
    </div>
    <div class="border border-light bg-danger text-light bg-info text-center py-2 col-sm-3">
      col-sm-3
    </div>
  </div>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-2">
      col-sm-2
    </div>
  </div>

  <div class="row">
    <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
     <div class="border border-light bg-danger text-light text-center py-2 col-sm-1">
      col-sm-1
    </div>
  </div>

    <section class="main mt-5">
        <div class="row">
            <div class="border border-light bg-warning text-light text-center col-md-8">
                <div class="row">
                    <div class="border border-light bg-primary text-light text-center py-2 mx-0 col-md-12">col-md-12</div>
                </div>
             
                <div class="row">
                    <div class="border border-light bg-info text-light text-center py-2 col-md-6">col-md-4</div>
                    <div class="border border-light bg-info text-light text-center py-2 col-md-6">col-md-4</div>
                </div>
            </div>
            <div class="border border-light bg-warning text-light text-center py-2 col-md-4">col-md-4</div>
        </div>
    </section>

    <section class="main mt-5">
        <div class="row">
            <div class="border border-light bg-warning text-light text-center col-md-4">
                <div class="row">
                    <div class="border border-light bg-primary text-light text-center py-2 mx-0 col-md-12">col-md-12</div>
                </div>
             
                <div class="row">
                    <div class="border border-light bg-info text-light text-center py-2 col-md-6">col-md-4</div>
                    <div class="border border-light bg-info text-light text-center py-2 col-md-6">col-md-4</div>
                </div>
            </div>

            <div class="border border-light bg-warning text-light text-center py-2 col-md-4">col-md-4</div>

            <div class="border border-light bg-warning text-light text-center col-md-4">
                <div class="row">
                    <div class="border border-light bg-warning text-light text-center py-2 col-md-6">col-md-6</div>
                    <div class="border border-light bg-warning text-light text-center py-2 col-md-6">col-md-6</div>
                </div>
                <div class="row">
                    <div class="border border-light bg-dark text-light text-center py-2  col-md-12">col-md-12</div>
                </div>
            </div>
        </div>
    </section>


</div>