@{
   ViewData["Title"] = "Task Page";
   Layout = "_LayoutBootGrid";
}
 
<div class="container mt-4">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Hair Color</th>
          <th>Skin Color</th>
          <th>Eye Color</th>
          <th>Birth Year</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody class="tableSW text-capitalize">
      </tbody>
</table>
</div>





