@{
   ViewData["Title"] = "Star Wars";
   Layout = "_LayoutBootGrid";
}
 
<div class="container mt-5">
    <div class="card border-dark">
        <div class="card-body">
            <table class="table table-hover table-striped" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Height</th>
                  <th>Mass</th>
                  <th>Hair Color</th>
                  <th>Skin Color</th>
                  <th>Eye Color</th>
                  <th>Birth Year</th>
                  <th>Gender</th>
                </tr>
              </thead>
            <tbody class="tableSW text-capitalize"></tbody>
            </table>
        </div>
    </div>
</div>
<br />




