@{
   ViewData["Title"] = "Task Page";
   Layout = "_LayoutBootGrid";
}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<div class="container mt-2">  
        <div class="row">
            <div class="border border-light bg-info text-light text-center py-2 col-md-4">
                <p class="text-monospace">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat 
                    scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, 
                    aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>

            <div class="border border-light bg-warning text-light text-center col-md-8">
                <div class="row">
                    <div class="border border-light bg-primary text-light text-center py-2 col-md-12">
                        <p class="text-monospace">
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat 
                            scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, 
                            aliquam sit amet justo nunc tempor, metus vel.
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat 
                            scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, 
                            aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
             <div class="row">
                    <div class="border border-light bg-primary text-light text-center py-2 col-md-12">
                          <p class="text-monospace">
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat 
                            scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, 
                            aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

