@{
   ViewData["Title"] = "Employee";
   Layout = "_LayoutBootGrid";
}
<div class="container mt-5">
    <table class="table table-striped table-bordered" style="width:100%" id="datatablEmp">
        <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
        </thead>
        <tbody class="tableSW"></tbody>
    </table>
</div>
<br />